.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
}
.questions {
    padding: 1rem;
    color: var(--heading-color);
    display: flex;
    flex-direction: column;
}
.questions ul {
    padding-bottom: 1rem;
    font-size: 14px;
    margin-bottom: 1rem;
    font-weight: 500;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 5px;
}
.questions ul > div {
    background-color: var(--secondary-color);
    padding-block: 1rem;
    padding-inline: 10px;
}
.questions ul li {
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    list-style: none;
    padding: 8px;
}
.questions ul li:hover {
    color: var(--primary-color);
}
.questions ul li span {
    align-items: center;
    display: flex;
    gap: 15px;
}
.questions ul li span input {
    accent-color: var(--primary-color);
    height: 1.3rem;
    aspect-ratio: 1;
    background-color: var(--secondary-color);
}
.profileTable,
.ackTable {
    font-size: 13px;
    font-weight: 400;
    border-collapse: collapse;
    margin-top: 1rem;
}
.profileTable tr > *,
.ackTable tr > * {
    border: 1px solid color-mix(in lab, var(--text-primary-color) 50%, var(--primary-color) 5%);
}
.profileTable tr td:nth-child(1) {
    width: 8rem !important;
    text-align: center;
}
.profileTable tr td:nth-child(2) {
    text-align: center;
}
.profileTable tr td,
.profileTable tr th,
.ackTable tr td,
.ackTable tr th {
    padding: 10px;
}
.profileTable input,
.ackTable input {
    height: 1.5rem;
    accent-color: var(--primary-color);
    aspect-ratio: 1;
    cursor: pointer;
}
.selected {
    background-color: color-mix(in lab, var(--primary-color) 20%, black 10%);
    font-weight: 500;
}
.ackTable tr td:nth-child(2) {
    width: 5.5rem;
}
.newProfile {
    width: 30rem;
    font-size: 13px;
}
.newProfile th:nth-child(1) {
    width: 70%;
}
